// colours
$main-colour: #fcfcfc;
$body-colour: #fcfcfc;
$countdown-colour: #0c0c0c;

// typography
$main-font: 'Rye', cursive;
$secondary-font: 'Poppins', sans-serif;
$uppercase: uppercase;
$default-font-size: 1rem;
$line-spacing: 2rem;